[submodule "Backend"]
	path = Backend
	url = https://github.com/PDI-Perumahan/Backend-Team.git
[submodule "Website"]
	path = Website
	url = https://github.com/PDI-Perumahan/Website-Team.git
[submodule "VR-env"]
	path = VR-env
	url = https://github.com/PDI-Perumahan/VR-Team.git
